includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - phpstan-baseline.neon
parameters:
    level: 9
    ignoreErrors:
        -
            identifier: missingType.generics
            reportUnmatched: false
    paths:
        - src
        - tests
    parallel:
        maximumNumberOfProcesses: 4
