parameters:
	ignoreErrors:
		-
			message: "#^Method Enabel\\\\LayoutBundle\\\\Tests\\\\EnabelLayoutBundleTestingKernel\\:\\:configureContainer\\(\\) is unused\\.$#"
			count: 1
			path: tests/EnabelLayoutBundleTestingKernel.php

		-
			message: "#^Method Enabel\\\\LayoutBundle\\\\Tests\\\\EnabelLayoutBundleTestingKernel\\:\\:configureRoutes\\(\\) is unused\\.$#"
			count: 1
			path: tests/EnabelLayoutBundleTestingKernel.php
