includes:
  - vendor/phpstan/phpstan-phpunit/extension.neon
  - vendor/phpstan/phpstan-phpunit/rules.neon
  - phpstan-baseline.neon
parameters:
    level: 9
    ignoreErrors:
        -
            identifier: missingType.generics
            reportUnmatched: false
        -
            message: "#^Call to an undefined method [a-zA-Z0-9\\\\_]+::expects\\(\\)\\.$#"
            path: tests/*
            reportUnmatched: false
    paths:
        - src
        - tests
    parallel:
        maximumNumberOfProcesses: 4
