@import "@enabel/enabel-bootstrap-theme/dist/scss/variables";
$enabel-img-path: "../../images";
@import "@enabel/enabel-bootstrap-theme/dist/scss/enabel-bootstrap-theme";

label.form-label.required:after {
  content: " * ";
  color: $enabel-primary-red;
}

.main-header {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  border-bottom: 1px solid $enabel-underline-color !important;
}