services:
  _defaults:
    autowire: true
    autoconfigure: true

  Enabel\LayoutBundle\Components\AlertComponent:
    autowire: true
    tags:
      - { name: 'twig.component', key: 'alert' }

  Enabel\LayoutBundle\Components\ThemeSwitchComponent:
    autowire: true
    tags:
      - { name: 'twig.component', key: 'theme-switch' }

  Enabel\LayoutBundle\Components\LocaleSwitchComponent:
    autowire: true
    tags:
      - { name: 'twig.component', key: 'locale-switch' }

  Enabel\LayoutBundle\Components\UserMenuComponent:
    autowire: true
    tags:
      - { name: 'twig.component', key: 'user-menu' }

  Enabel\LayoutBundle\Controller\:
    resource: '../src/Controller'
    autowire: true
    autoconfigure: true
    tags: [ 'controller.service_arguments' ]

  Enabel\LayoutBundle\Twig\Extension\LocalesExtension:
    arguments:
      $supportedLocales: '%enabel_layout.supported_locales%'
    tags: [ 'twig.extension' ]

  Symfony\Component\Asset\PackageInterface:
    alias: 'asset_mapper.asset_package'