<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                {% block navbar_brand %}
                <img src="{{ asset('bundles/enabellayout/images/enabel-logo.png') }}" alt="{{ enabel_layout.application_name|trans }}" width="36px"/>
                {{ enabel_layout.application_short_name|trans }}
                {% endblock %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                {% block menu %}
                {{ include('@EnabelLayout/layout/bs5/_menu.html.twig') }}
                {% endblock %}
            </div>
        </div>
    </nav>
</header>